{% extends "base.html" %}

{% block script%}
<script src="{{url_for('static', filename='app.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" media="screen" />
</style>

{% endblock %}

{% block content %}
<div class='uk-container'>
    <section id="entrySection">
        <h3>Time Tracking for
            <button class='uk-button uk-button-default' type='button'>{{period}}</button>
            <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
                <li><a id='today-url' href="/?after={{today.strftime('%Y-%m-%d')}}&period=today">today</a></li>
                <li><a href="/?after={{week_start.strftime('%Y-%m-%d')}}&period=week">this week</a></li>
                <li><a href="/">all time</a></li>
            </ul>
        </div></h3>
        <form method="POST" action="" id="entryForm">
            <input id="entryInput" class="uk-input uk-form-large"></input>
        </form>
    </section>
    <section>
        <h3>Summary</h3>
        <table class="uk-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td id="{{entry.id}}">
                        <div uk-grid>
                            <div class="uk-width-expand">
                                {{entry.name}}
                            </div>
                            <div class="uk-width-auto">
                                <ul class="uk-iconnav">
                                    <li><a href="/edit/{{entry.id}}" uk-icon="icon: pencil"></a></li>
                                    <li><a class='delete-button' entry-id='{{entry.id}}' uk-icon="icon: trash"></a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td id="{{entry.id}}"><b>{{entry.project.name}}</b></td>
                    <td id="{{entry.id}}">{% if entry.end %}{{entry.human_duration}}{% else %}{{entry.ongoing_human_duration}}{% endif %}</td>
                    <td><button class="stop-button uk-button uk-button-default" entry-id="{{entry.id}}" {% if entry.end %}disabled{% endif %}>Stop</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h3>Statistics</h3>
        <div uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Total Hours</h3>
                    <p id="total-duration">{{total_duration}}</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <canvas id="chart" onload="genGraph()"></canvas>
                </div>
            </div>
        </div>
    </section>
</ul>
</div>
{% endblock %}
